@import url('reset.css');

body {
  background-color: #111;
}

h2 {
  font-size: 2rem;
  color: #00B0FF;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

p {
  color: #f5f5f5;
}

section {
  margin: 120px auto;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 168, 221, 0.3), rgba(0, 0, 0, 0.5)), url('assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 50px;
  border-bottom: 1px solid #33A8DB99;
}

.banner .banner-content {
  color: #f5f5f5;
  width: 600px;
  margin: auto;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#00B0FF, #1565C0);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner p {
  font-size: 1.3rem;
  margin: 14px 0 24px;
}

.banner .logo {
  background-color: rgba(0, 0, 0, 0.3);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .banner-content button {
  color: #00B0FF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 18px 34px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  border-image: linear-gradient(#3BA1CD, #1572B7);
  border-image-slice: 10;
  border-radius: 30px;
}

#course-content {
  width: 800px;
  text-align: center;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module {
  color: #f5f5f5;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33A8DB;
  background-color: #333;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

#course-content .modules-list .module span {
  color: #33A8DB;
}

#transform-world {
  height: 560px;
  background-size: cover;
  background-image: url("assets/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #33A8DB99;
  border-bottom: 1px solid #33A8DB99;
  padding: 200px;
}

#transform-world p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
  text-align: center;
  width: 800px;
}

#professional-challenges img {
  margin: 32px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, 0.1), rgba(50, 168, 219, 0.2));
  border-top: 1px solid #33A8DB99;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}
